<!-- <div class="container">
  <div class="row">
   <div class="col-xs-12 col-md-6 col-lg-3">
    <div>
    <%= current_user.first_name%>
    <%= current_user.email %>
    </div>
   </div>
  </div>
</div>

-->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row" style="border: solid; padding: 20px;">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
     <div class="well profile" style="margin-bottom: -75px;">
      <div class="col-sm-12 d-flex">
        <div class="col-xs-12 col-sm-8">
          <h2><%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
          <p><strong> <%= current_user.email %> </strong>  </p>
          <p><strong>Instruments: </strong>
            <% current_user.instruments.pluck(:name).uniq.each do |name| %>
            <span class="tags"> <%= name %> </span>
            <% end %>

          </p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <figure>
            <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
            <figcaption class="ratings">
              <p>Ratings
                <a href="#">
                  <span class="fa fa-star"></span>
                </a>
                <a href="#">
                  <span class="fa fa-star"></span>
                </a>
                <a href="#">
                  <span class="fa fa-star"></span>
                </a>
                <a href="#">
                  <span class="fa fa-star"></span>
                </a>
                <a href="#">
                 <span class="fa fa-star-o"></span>
               </a>
             </p>
           </figcaption>
         </figure>
       </div>
     </div>
     <div class="col-xs-12 divider text-center d-flex">
      <div class="col-xs-12 col-sm-4 emphasis">
        <h2><strong>+</strong></h2>
        <p><small>List instrument</small></p>
        <%= link_to "Create", new_instrument_path,
      class: "btn btn-primary"%>
       <!--  <button class="btn btn-primary btn-block"><span class="fa fa-plus-square"></span> Create </button>
 -->      </div>
      <div class="col-xs-12 col-sm-4 emphasis">
        <h2><strong><%= current_user.outgoing_requests.count %></strong></h2>
        <p><small>Requests</small></p>
        <%= link_to "Outgoing", profile_path(collapse: params[:collapse] == 'Outgoing' ? 'false' : 'Outgoing'),
      class: "btn btn-success"%>

        <!-- <button class="btn btn-success btn-block" ><span class="fa fa-user-square"></span> Outgoing </button> -->
      </div>
      <div class="col-xs-12 col-sm-4 emphasis">
        <h2><strong><%= current_user.requests.count %></strong></h2>
        <p><small>Requests</small></p>
        <%= link_to "Incoming", profile_path(collapse: params[:collapse] == 'Incoming' ? 'false' : 'Incoming'),
      class: "btn btn-info"%>
        <!-- <button class="btn btn-info btn-block"><span class="fa fa-user-square"></span> Incoming </button> -->
      </div>
    </div>
  </div>
</div>
</div>
<div style="margin-top: 50px;">
<% if params[:collapse] == 'Outgoing' %>
  <%= render 'request_list', my_requests: @my_requests %>
<% end %>
</div>
<div style="margin-top: 50px;">
<% if params[:collapse] == 'Incoming' %>
  <%= render 'incoming_requests', requests: @requests %>
<% end %>
</div>




