<div class="request-show">
  <div class="row">
   <div class="review new col-8 offset-2 bg-white color-white">

    <div class="thanks">
      <h1>Thank you for your Request!</h1>
      <p>Here are all the details of your booking:</p>
    </div>

    <div class="product-pic">
      <% if @instrument.photo.attached? %>
      <%= cl_image_tag @instrument.photo.key, class: "request-img", height: 200, width: 300, crop: :fill %>
      <% end %>
    </div>

    <div class="details">
      <h2>Name:</h2>
      <p><%= @instrument.name %></p>
      <h2>Description:</h2>
      <p><%= @instrument.description %></p>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="review new col-8 offset-2 bg-white color-white">
        <div class="ask-for-review">
          <p>We hope you're satisfied with your booking!<br><strong>Please share your opinion with us.</strong></p>
        </div>
        <%= simple_form_for [@request, @review] do |f| %>
        <%= f.input :instrument_review %>
        <%= f.input :instrument_stars %>
        <%= f.submit "Review", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
