<div class="container">
  <div class="row">
    <div class="form new col-8 offset-2 bg-white color-white">
      <%= simple_form_for @instrument do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.submit "Update", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


