<!-- SEARCH FORM LANDING PAGE -->
<div class="banner">
  <div class="banner-container">
    <h2><strong>Play your music</strong><br>Anywhere. Anytime.</h2>
      <div class="form-container bg-white color-white">
        <%= simple_form_for :instrument, url: instruments_path, method: :get do |f| %>
        <%#= f.input :where, label: 'Where are you searching?' %>
        <%= f.input :name, label: 'What kind of instrument are you searching for?' %>
        <%#= f.input :start_date, as: :date, label: 'Start Date?', html5: true %>
        <%#= f.input :end_date, as: :date, label: 'End Date?', html5: true %> -->
        <%= f.submit "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>
</div>
<!-- https://upload.wikimedia.org/wikipedia/commons/8/8b/20131205_Istanbul_321_cropped.jpg -->

<!-- CARDS LANDING PAGE -->
<div class="cards-container">
  <% @instruments.each do |instrument| %>
    <div class="instrument-card">
      <% if instrument.photo.attached? %>
        <%= cl_image_tag instrument.photo.key, class: 'instrument-img', height: 200, width: 350, crop: :fill %>
      <% else %>
        <%= image_tag 'instrument-placeholder.jpg', class: 'instrument-img' %>
      <% end %>

      <div class="card-details">
        <div class="card-instrument-details">
          <%= link_to instrument.name, instrument_path(instrument), class: 'instrument-name' %>
          <p><%= instrument.description %></p>
        </div>

        <div class="card-instrument-infos">
          <h2 class="card-instument-pricing"><%= instrument.price %>€</h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
