<!-- SEARCH FORM LANDING PAGE -->
<div class="banner">
  <div class="banner-container">
    <h1><strong>Play your music</strong><br>Anywhere. Anytime.</h1>
      <div class="form-container bg-white color-white">
        <div class="main-form">
          <%= simple_form_for :instrument, url: instruments_path, method: :get do |f| %>
          <%= f.input :name, label: 'Find your instrument' %>
          <%= f.submit "Search", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
  </div>
</div>


<!-- CARDS LANDING PAGE -->
<div class="cards-container">
  <% @instruments.each do |instrument| %>
    <div class="instrument-card">
      <% if instrument.photo.attached? %>
        <%= cl_image_tag instrument.photo.key, class: 'instrument-img', height: 200, width: 350, crop: :fill %>
      <% else %>
        <%= image_tag 'instrument-placeholder.jpg', class: 'instrument-img' %>
      <% end %>

      <div class="card-details">
        <div class="card-instrument-infos">
          <%= link_to instrument.name, instrument_path(instrument), class: 'instrument-name' %>
           <h2 class="card-instument-pricing"><%= instrument.price %>€</h2>

        </div>

        <div class="card-instrument-details">
          <p><%= instrument.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>



