<div class="banner-owner">
  <div class="banner-owner-container">
    <h2 id="rent_instrument"><strong>Untouched Instrument?</strong><br>Rent it. Share it.</h2>
    <div class="form-owner-container bg-white color-white">
      <%= simple_form_for @instrument do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Add Instrument", class: "btn btn-outline-dark" %>
      <% end %>
    </div>
  </div>
</div>

<div class="explanation">

</div>


