<div class="banner-owner">
  <div class="banner-owner-container">
    <h2 id="rent_instrument"><strong>Got an Instrument?</strong><br>Rent it. Share it.</h2>
    <div class="form-owner-container bg-white color-white">
      <div class="renting-form">
        <%= simple_form_for @instrument do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Add Instrument", class: "btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="message-container">
      <div class="messages">
        <h2>Do you have an instrument<br>you don't use anymore?</h2>
        <h3>Why not <strong>share</strong> with others and <strong>earn</strong> profit?</h3>
      </div>

      <%= image_tag "landing2-pic1.png", width: 500, height: 350, crop: :fill, class: 'messages-img' %>
    </div>

    <div class="message-container">
      <%= image_tag "landing2-pic2.png", width: 500, height: 350, crop: :fill, class: 'messages-img' %>

      <div class="messages">
        <h2 id="message-h2-tag">Easy to rent your instrument</h2>
        <h3></h3>
      </div>
    </div>
</div>

<footer class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at IntruRent!
  </div>
</footer>
