<!-- IMAGE -->
<% if @instrument.photo.attached? %>
<%= cl_image_tag @instrument.photo.key, height: 150, width: 150, crop: :fill %>
<% else %>
<%= image_tag 'instrument-placeholder.jpg' %>
<% end %>
<h2><%= @instrument.name %></h2>
<p><%= @instrument.description %></p>
<p><%= @instrument.price %></p>


<%= link_to "Back", instruments_path%>
